# 문자열 내장함수
## 123

In [2]:
# 문자열을 대,소문자 변경


a_text = "Hello world"

# upper() : 모든 문자열을 대문자로 변경
print(a_text.upper())
# lower() : 모든 문자열을 소문자로 변경
print(a_text.lower())
# swapcase() : 대문자를 소문자로, 소문자를 대문자로 변경
print(a_text.swapcase())
# title() : 단어의 첫 글자를 대문자로 변경
print(a_text.title())

HELLO WORLD
hello world
hELLO WORLD
Hello World

In [3]:
# 공백을 제거하는 함수
# strip() : 문자열의 좌우의 공백을 제거
# lstrip() : 문자열 좌측의 공백을 제거
# rstrip() : 문자열 우측의 공백을 제거
b_text = "   Hello world    "
print(b_text)

   Hello world

In [4]:
b_text

'   Hello world    '

In [5]:
# 좌우의 공백을 제거
b_text.strip()

'Hello world'

In [6]:
b_text

'   Hello world    '

In [7]:
b_text.lstrip()
b_text.rstrip()
#이런 경우 마지막 함수 값만 보여줌

'   Hello world'

In [8]:
# 좌측의 공백을 제거
b_text.lstrip()

'Hello world    '

In [9]:
# 우측의 공백을 제거
b_text.rstrip()

'   Hello world'

In [10]:
c_text = "$$Hello%%"
print(c_text)

$$Hello%%

In [11]:
#좌측에 있는 달러만 지우고 싶다
c_text.lstrip('$')
#strip 함수에 특정 문자를 넣으면, 해당 문자를 지워준다.

'Hello%%'

In [12]:
# 우측의 %를 제거
c_text.rstrip('%')

'$$Hello'

In [13]:
# replace({치환할 문자열}, {치환이 될 문자열})
c_text = 'Hello World'
c_text.replace('Hello', 'Hi')

'Hi World'

In [14]:
# replace()함수를 이용하여 문자열의 공백을 제거
d_text = "    Hello World   "
d_text

'    Hello World   '

In [17]:
d_text.replace(" ", "")

# 이랬을 때, 가운데 있는 공백도 다 지워짐

'HelloWorld'

In [18]:
d_text

'    Hello World   '

In [19]:
# split() : 특정한 문자열을 이용하여 문자열을 나눠주는 함수
e_text = "a,b,c,d"
e_text.split(',')

['a', 'b', 'c', 'd']

In [20]:
f_text = 'a/b/c/d'
f_text.split('/')

['a', 'b', 'c', 'd']

In [21]:
a = 'Hello'
a.find('b')

-1

### 함수

- 어떠한 입력값을 가지고 작업을 실행하고 결과물을 출력한다.

In [22]:
# 매개변수가 존재하지 않는 함수를 생성
# 매개변수가 존재하지 않으면 함수를 동일한 행동을 반복
def func_1():
    result = 'Hello'
    return result

In [24]:
print(func_1())
print(func_1())
print(func_1())

Hello
Hello
Hello

In [26]:
#에러가 나는 예시 = 인자의 개수와 매개변수의 개수가 같아야 한다.
print(func_1('a'))

TypeError: func_1() takes 0 positional arguments but 1 was given

In [25]:
# 매개변수가 존재하는 함수를 생성
def func_2(a, b):
    result = a + b
    return result

In [27]:
# 매개변수가 2개인 함수를 호출 -> 해당하는 함수를 호출할 때는 인자의 개수가 2개
print(func_2(4, 5)) # 9
print(func_2(1, 2)) # 3

9
3

In [28]:
# error code
# 매개변수의 개수와 인자의 개수를 다르게 호출하는 경우
print(func_2(5))

TypeError: func_2() missing 1 required positional argument: 'b'

In [30]:
# 함수를 생성할 때 매개변수에 기본값을 지정
def func_3(a, b = 2):
    result = a ** b
    return result

In [31]:
print(func_3(5, 3))    # 125   # 기본값 대신 3을 넣어보는 것. 
print(func_3(8))   # 64   # b 값을 안 넣으면 그냥 기본값으로 지정됨

125
64

In [32]:
def func_4(input_x, input_y):
    result = input_x - input_y
    return result

In [33]:
print(func_4(10, 3))  # 7
print(func_4(input_y = 10, input_x = 3))   # -7

7
-7

In [42]:
# 함수 생성
# 매개변수는 2개 -> start, end
# start부터 시작해서 end까지의 누적합을 출력
# start는 기본값은 1, end의 기본값은 10
def func_5(start = 1, end = 10):
    # 합계라는 초기값은 0으로 지정
    result = 0

    # start부터 end까지 반복하는 반복문을 생성
    for i in range(start, end + 1, 1):
        # result = result + i
        result += i
        # for문 종료 후
        return result

        # 마지막 return 줄이 for 라인 안으로 들어가버리면? 잘못 만들어진 구문이 됨.
        # 결과는 1이 될 것.
        # return = 되돌려준다/함수를 종료한다. for 함수 안에 넣어버리면 그냥 종료해버림.

In [43]:
print(func_5())
# start = 1, end = 10, result = 0
# for i in range(1, 11, 1):
#   result = result + i   --> result = 0 + 1
#   return result  --> result를 되돌려주고 함수를 종료

1

In [67]:
def func_6(start = 1, end = 10):
    # 합계라는 초기값은 0으로 지정
    result = 0

    # start부터 end까지 반복하는 반복문을 생성
    for i in range(start, end + 1, 1):
        # result = result + i
        result += i
    # for문 종료 후
    print(result)   #이 두 가지를 넣었기 때문에
    return result   #결과값이 2번 반복해서 나오는 것...

In [68]:
print(func_6())
# start = 1, end = 10, result = 0
# for i in range(1, 11, 1):
#    result = result + i ->> result = 0 + 1
#    result = result + i ->> result = 1 + 2
#    .....
#    result = result + i ->> result = 36 + 9
#    result = result + i ->> result = 45 + 10
#  return result

55
55

In [69]:
print(func_6(end=100))

5050
5050

In [70]:
# 1부터 100까지의 누적합 도중 합계가 3000이 넘어가는 최초의 숫자는 몇일까?

# 합계 초기값을 지정 0
sum_result = 0

for i in range(1, 101, 1):
    sum_result += i
    # 합계가 3000보다 큰 경우
    if sum_result > 3000:
        break
print(i)
print(sum_result)

77
3003

In [75]:
# 1부터 1씩 증가시켜서 누적합이 15000이 되는 순간의 숫자가 몇인가?
sum_result = 0

for i in range(1, 500, 1):
    sum_result += i
    if sum_result > 15000 :
        break
  
print(i)
print(sum_result)

173
15051

In [76]:
i = 1
sum_result = 0

while True:
    sum_result += i
    if sum_result > 150000:
        break
    i += 1
print(i)
print(sum_result)

#가변인 경우에는 while 구문을 쓰는 것이 더 좋다. 라고들 한다.

548
150426

In [77]:
# 함수 생성
# 매개변수 2개 생성
# 매개변수 사이의 값들의 누적합을 출력하는 함수
def func_7(x, y):
    # 합계 초기값은 0으로 지정
    result = 0
    # x보다 y가 큰 경우 (ex. x가 1이고 y가 10 -> 1부터 10까지의 누적합)
    if x < y:
        for i in range (x, y+1, 1):
            result += i
    # x보다 y가 작거나 같은 경우
    else:
        for i in range(y, x+1, 1):
            result += i
    return result

In [78]:
print(func_7(1, 10))

55

In [79]:
print(func_7(10, 1))

55

In [81]:
print(func_7(5, 5))

5

In [84]:
def func_8(x, y):
    result = 0

    # 시작값이 x와 y 중 작은 값
    # 종료값은 x와 y 중 큰 값에 + 1
    # 숫자 데이터들 중 가장 작은 데이터를 출력하는 함수 : min()
    # 숫자 데이터들 중 가장 큰 데이터를 출력하는 함수 : max()
    for i in range(min(x,y), max(x,y)+1, 1):
        result += i
    return result

In [87]:
print(func_8(1, 10))
print(func_8(10, 1))
print(func_8(5, 5))

55
55
5

In [88]:
min(3, 10, 1)

# 개수가 가변적

1

### 인자의 개수가 가변일 때 앞에 *을 붙인다.

In [97]:
# 인자의 개수가 가변인 경우의 함수를 생성
def func_9(*args):
    # print(type(args))
    # print(args)
    # print(len(args))
    
    # 해당하는 인자의 값이 가변적인 건 확인했는데,
    # 그중 가장 작은 값을 되돌려 받으려면?
    
    # 인자값들 중 첫 번째 데이터를 변수에 대입
    result = args [0]

    # 인자값들 중 두 번째 데이터부터 반복하는 반복문 생성
    for i in range(1, len(args), 1):
        # result와 args[i] 항목을 비교
        if result > args[i]:
            result = args[i]

    return result

# args = (50,49,55,42)
# result = 50
# for문에서 3번 반복 (시작값 1, 종료값 4, 증가값 1)
# result > args[1] ( 50 > 49 )  ---> True
#   result = args[1] ( result = 49 )
# result > args[2] (49, 55) ----> false
#   result = 49 그대로. 아무 행동도 하지 않는다.
# result > args[3] ( 49 > 42 ) ----> True
#   result = args[3] ( result = 42 )
# for문이 종료
# return result (result 42)

In [98]:
func_9(1, 2, 3, 4, 5)
func_9(2,4,6,8)
func_9(1,2,3,4,5,6,7,8,9,10)

1

In [99]:
# 해당하는 매개 변수는 tuple이다. 라는 의미.
# 하나씩 따로 출력 가능, 수정은 불가, 추출은 무관.

#반복되는 횟수를 뽑으려면 len을 써서 원소의 개수를 계산하면 됨.

# 시작값은 0,

In [100]:
print(func_9(50,49,55,42))

42

### 예제문제
1. 함수를 생성 -> 인자의 개수를 가변으로 두고 --> 매개변수에 *표시
2. 인자값의 평균값을 출력하는 함수
    1. 모든 인자값들을 더한다.
    2. 더한 데이터를 인자 개수만큼 나눈다.
    3. 나온 결과값을 되돌려준다.

In [108]:
# def func_10(*args):
#     result = sum_result(args)

#     result = sum(args) / len(args)
#     return result

In [109]:
# print func_10(1,3,5,7,9)

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (1013868167.py, line 1)

In [110]:
def func_10(*a):
    # 모든 인자값을 더한다. (합계라는 초기값 0)
    result = 0
    
    # case 1
    # for i in range(0, len(a), 1):
    #     # i가 의미하는 것은? -> 자료형 데이터의 위치
    #     result = result + a[i]
    
    # case 2
    for i in a:
        # i가 의미하는 것은? -> 자료형 데이터의 각 원소의 값
        result += i
    
    # case 3
    # result = sum(a)
    
    # 합계에 인자의 개수만큼으로 나눠준다
    # result = result / len(a)
    result /= len(a)
    
    # 결과값을 되돌려준다.
    return result

In [111]:
print(func_10(1,3,5,6,7,8,9))

5.571428571428571

In [112]:
print(func_10(20, 100, 30))

50.0

In [115]:
def func_try3(*a):
    result = 0

    result = sum(a)
    result /= len(a)

    return result

In [116]:
print(func_try3(20, 100, 30))

50.0

In [123]:
def func_try1(*a):
    result = 0

    for i in range (0, len(a), 1):
        result = result + a[i]

    result /= len(a)
    return result

In [124]:
print(func_try1(20, 100, 30))

50.0

In [125]:
def func_try2(*a):
    result = 0

    for i in a:
        result += i

    result /= len(a)
    return result

In [126]:
print(func_try2(20, 100, 30))

50.0

In [127]:
_list = (22,11,33,88)

In [128]:
for i in range(len(_list)): # i 가 의미하는 것은 0부터 3까지 각 위치라는 인덱스 값
    print(i)

0
1
2
3

In [129]:
for i in range(len(_list)):
    print(_list[i])

22
11
33
88

In [130]:
for i in _list:
    print(i)

22
11
33
88

In [131]:
# in 연산자 : 비교 연산자. 결과값은 무조건 True or False 논리값이 나온다. (포함 유무)
10 in [11, 50, 70]

False

In [132]:
11 in [11, 50, 70]

True

In [133]:
_list = [11, 50, 70]
(11 == _list[0]) or (11 == _list[1]) or (11 == _list[2])

True

In [138]:
# 인자의 개수가 가변이 아닌 형태의 함수를 생성
# 매개변수에 자료형 데이터를 인자값으로 입력하는 경우

# 자료형 데이터를 입력받아, 각 원소들의 제곱된 값을 새로운 리스트로 생성하여 되돌려 준다.
def func_11(x):
    # x는 자료형 데이터가 들어온다.

    # 결과값은 새로운 리스트를 생성하여 값들을 추가
    result = []

    # x의 원소들을 하나씩 추출하여 제곱한 뒤 result에 추가
    i = 0
    while i < len(x):
        data = x[i] ** 2
        result.append(data)        # 여기까지 하고 함수를 호출하는 순간, 큰일이 난다.
                                   # i를 1씩 더해줘야 한다, 그렇지 않으면 무한 루프..
        i += 1                     #이걸 빼먹는 일이 가장 흔한 실수

    return result

In [139]:
print(func_11([1,2,3,4]))

[1, 4, 9, 16]

In [142]:
# map함수
# map({호출할 함수명}, {자료형 데이터})

# 일반 함수를 생성
def change(x):
    print(type(x))
    result = x ** 2
    return result

In [143]:
map(
    change, [1,2,3,4]  #change에 입력 데이터를 따로 넣어줄 필요는 없음. map 함수이므로.
                        #여기까지 입력하면 나오는.. <map at 0x2c4cf67cbe0> 이것은 메모리 좌표/주소임
                        # 맵 데이터를 리스트 형태로 묶어줘야 함.
                        
)

In [144]:
list(map(
   change, [1,2,3,4] 
))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

[1, 4, 9, 16]

In [145]:
# lambda 함수 : 함수를 생성함과 동시에 호출
# lambda 매개변수명 : 실행될 코드
list(
    map(
        lambda x : x ** 2,
        [1,2,3,4]
    )
)

[1, 4, 9, 16]

In [146]:
def change2(a):
    result = a ** 2
    return result

In [147]:
_list = [1,2,3,4]

for i in _list:
    print(i)

1
2
3
4

In [150]:
_list = [1,2,3,4]

res = []

for i in _list:
    # print(i)
    res.append(change2(i))
print(res)

[1, 4, 9, 16]

In [155]:
_list = ["test","test2","test3","test4"]

res = []

for i in range(0, len(_list), 1):
    print("index : ", i)
    print("value : ", _list[i])

index :  0
value :  test
index :  1
value :  test2
index :  2
value :  test3
index :  3
value :  test4

In [3]:
_list = [1,2,3,4]

res = []

for i in range(0, len(_list), 1):
    data = change2(_list[i])
    res.append(data)

print(res)

NameError: name 'change2' is not defined

### 변수의 종류
1. 전역 변수 (all area)
    - 어디서든 사용이 가능한 변수
    - 함수의 내부에서나 외부에서 어디서든 사용이 가능

2. 지역 변수 (certain area) *메모리 효율적 사용을 위해 휘발성 데이터 관리 용이해야 함
    - 해당하는 지역에서만 사용이 가능한 변수
    - 함수 내부, 클래스 내부에서 생성한 변수들을 지역 변수
    - 해당하는 지역에서 벗어나면 사용이 불가능한 휘발성 변수
    
3. 매개 변수
    - 함수를 생성할 때 함수 내부에서 사용하는 변수의 이름
    - 해당하는 함수에서만 사용이 가능
    - 함수 외부에서는 사용이 불가능

In [4]:
# 전역 변수를 생성

test_a = "Hello"

In [5]:
print(test_a)

Hello

In [6]:
#지역 변수 생성
def func_12():
    func_12_result = "World"
    return test_a + func_12_result

In [8]:
#새로운 전역 변수를 생성
test_b = func_12()

In [10]:
print(test_a)
print(test_b)
print(func_12_result)   # 코드에서 빨간 줄이 간다는 의미는, 뭔가 문제가 발생했다는 의미.
                        # 해당 변수가 함수 안에서만 사용 가능한 지역 변수였기 때문에 not defined로 나타남.

Hello
HelloWorld

NameError: name 'func_12_result' is not defined

In [13]:
# def func_13(input_a, input_b):
#     print(func_12_result)       # return의 쓸모.
#     return result               # print는 반드시 return 앞에 써야 함
#                                 # 특수한 경우 함수 내에서 전역 변수 쓰기도 함.

In [15]:
def func_13(input_a, input_b):
    result = input_a + input_b
    return result

In [16]:
test_c = func_13(10, 5)
print(test_c)

15

In [17]:
print(input_a)          #매개변수는 외부에서 사용이 불가능
print(input_b)          #마찬가지로 함수 내 정의한 지역변수(매개변수도 지역변수에 해당)이므로 나오지 않음.

NameError: name 'input_a' is not defined